<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>
      HCSEG - Chum Outmigration - Union River Summer Chum FIFO
    </title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/hcseg-logo-square.ico"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <script src="/js/form.js" defer></script>
  </head>
  <body>
    <header id="header" class="form-header">
      <img
        src="/img/hcseg-logo.png"
        alt="Hood Canal Salmon Enhancement Group"
        height="100px"
      />
      <div class="form-title">
        <h1>Union River Summer Chum Outmigration Program</h1>
        <h2>*All form fields are required.*</h2>
      </div>
      <div class="form-auth">
        <p><strong>Logged in as:</strong> <%= user.username %></p>
        <p>(<%= user.email %>)</p>
        <a
          id="logout-button"
          class="btn btn-logout"
          href="/auth/logout"
          >Logout</a
        >
      </div>
    </header>

    <!-- Modal popup for form submission response -->
    <div id="responseModal" class="modal hidden">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <button id="modalCloseBtn" class="modal-close-btn" aria-label="Close modal">✕</button>
        <div id="responseMessage"></div>
      </div>
    </div>

    <form id="trapSampleForm" class="trap-sample-form">
      <!-- pre trap check information -->
      <fieldset class="feedback-input col-span-2">
        <legend>Date:</legend>
        <input
          name="date"
          type="date"
          id="date"
          required
          class="feedback-input"
        />
      </fieldset>
      <fieldset class="feedback-input col-span-2">
        <legend>Time:</legend>
        <input
          name="time"
          type="time"
          id="time"
          class="feedback-input"
          required
        />
      </fieldset>
      <fieldset class="feedback-input" id="trapOperating">
        <legend>Trap Operating (Y/N):</legend>
        <div>
          <span class="radio-btn">
            <input
              type="radio"
              id="yes"
              name="trapOperating"
              value="Y"
              required
            />
            <label for="yes">Y</label>
          </span>
          <span class="radio-btn">
            <input
              type="radio"
              id="no"
              name="trapOperating"
              value="N"
              required
            />
            <label for="no">N</label>
          </span>
        </div>
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Trap RPM's:</legend>
        <input
          name="rpm"
          type="number"
          id="rpm"
          class="feedback-input"
          step="0.1"
          placeholder="If not rotating, type 0"
          required
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Debris Level:</legend>
        <select name="debris" id="debris-select" required>
          <option value="">--choose an option--</option>
          <option value="light">Light</option>
          <option value="moderate">Moderate</option>
          <option value="heavy">Heavy</option>
          <option value="null">no reading</option>
        </select>
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Water Temp. (°C):</legend>
        <input
          name="waterTemp"
          type="number"
          id="waterTemp"
          class="feedback-input"
          placeholder="If there is no reading, type 0"
          step="0.1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input hidden">
        <legend>Hobo Logger Temp. (°C):</legend>
        <input
          name="hoboTemp"
          type="number"
          id="hoboTemp"
          class="feedback-input"
          step="0.001"
          required
          value="0"
        />
      </fieldset>
      <fieldset class="feedback-input col-span-2">
        <legend>Water Visibility:</legend>
        <select name="visibility" id="visibility-select" required>
          <option value="">--choose an option--</option>
          <option value="none">None</option>
          <option value="poor">Poor</option>
          <option value="good">Good</option>
          <option value="very-good">Very Good</option>
          <option value="excellent">Excellent</option>
          <option value="null">no reading</option>
        </select>
      </fieldset>
      <fieldset class="feedback-input col-span-2">
        <legend>Water Flow:</legend>
        <select name="flow" id="flow-select" required>
          <option value="">--choose an option--</option>
          <option value="low">Low</option>
          <option value="medium-low">Medium-Low</option>
          <option value="medium">Medium</option>
          <option value="medium-high">Medium-High</option>
          <option value="high">High</option>
          <option value="flooding">Flooding</option>
          <option value="null">no reading</option>
        </select>
      </fieldset>

      <div class="form-divider">Daily Catch Totals</div>
      <!-- trap check information -->
      <fieldset class="feedback-input">
        <legend>Chum Caught:</legend>
        <input
          name="chumCaught"
          type="number"
          id="chumCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum DNA Taken:</legend>
        <input
          name="chumDnaTaken"
          type="number"
          id="chumDnaTaken"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum Marked:</legend>
        <input
          name="chumMarked"
          type="number"
          id="chumMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum Marked Recap:</legend>
        <input
          name="chumMarkedRecap"
          type="number"
          id="chumMarkedRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum Morts:</legend>
        <input
          name="chumMorts"
          type="number"
          id="chumMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum DNA IDs:</legend>
        <input
          name="chumDnaIds"
          type="text"
          id="chumDnaIds"
          class="feedback-input"
          placeholder="If there are none, type -"
          required
          title="if none, type -"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum Morts Marked:</legend>
        <input
          name="chumMortsMarked"
          type="number"
          id="chumMortsMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chum Morts Recap:</legend>
        <input
          name="chumMortsRecap"
          type="number"
          id="chumMortsRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Fry Caught:</legend>
        <input
          name="cohoFryCaught"
          type="number"
          id="cohoFryCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Caught:</legend>
        <input
          name="cohoSmoltCaught"
          type="number"
          id="cohoSmoltCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Marked:</legend>
        <input
          name="cohoSmoltMarked"
          type="number"
          id="cohoSmoltMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Marked Recap:</legend>
        <input
          name="cohoSmoltMarkedRecap"
          type="number"
          id="cohoSmoltMarkedRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Fry Morts:</legend>
        <input
          name="cohoFryMorts"
          type="number"
          id="cohoFryMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Morts:</legend>
        <input
          name="cohoSmoltMorts"
          type="number"
          id="cohoSmoltMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Morts Marked:</legend>
        <input
          name="cohoSmoltMortsMarked"
          type="number"
          id="cohoSmoltMortsMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Smolt Morts Recap:</legend>
        <input
          name="cohoSmoltMortsRecap"
          type="number"
          id="cohoSmoltMortsRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Parr Caught:</legend>
        <input
          name="cohoParrCaught"
          type="number"
          id="cohoParrCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Caught:</legend>
        <input
          name="steelheadCaught"
          type="number"
          id="steelheadCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Marked:</legend>
        <input
          name="steelheadMarked"
          type="number"
          id="steelheadMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Marked Recap:</legend>
        <input
          name="steelheadMarkedRecap"
          type="number"
          id="steelheadMarkedRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Coho Parr Morts:</legend>
        <input
          name="cohoParrMorts"
          type="number"
          id="cohoParrMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Morts:</legend>
        <input
          name="steelheadMorts"
          type="number"
          id="steelheadMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Morts Marked:</legend>
        <input
          name="steelheadMortsMarked"
          type="number"
          id="steelheadMortsMarked"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Steelhead Morts Recap:</legend>
        <input
          name="steelheadMortsRecap"
          type="number"
          id="steelheadMortsRecap"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Cutthroat Caught:</legend>
        <input
          name="cutthroatCaught"
          type="number"
          id="cutthroatCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chinook Caught:</legend>
        <input
          name="chinookCaught"
          type="number"
          id="chinookCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Sculpin Caught:</legend>
        <input
          name="sculpinCaught"
          type="number"
          id="sculpinCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Lamprey Caught:</legend>
        <input
          name="lampreyCaught"
          type="number"
          id="lampreyCaught"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Cutthroat Morts:</legend>
        <input
          name="cutthroatMorts"
          type="number"
          id="cutthroatMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Chinook Morts:</legend>
        <input
          name="chinookMorts"
          type="number"
          id="chinookMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Sculpin Morts:</legend>
        <input
          name="sculpinMorts"
          type="number"
          id="sculpinMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input">
        <legend>Lamprey Morts:</legend>
        <input
          name="lampreyMorts"
          type="number"
          id="lampreyMorts"
          class="feedback-input"
          placeholder="If there are none, type 0"
          step="1"
          required
          title="if none, type 0"
        />
      </fieldset>
      <fieldset class="feedback-input col-span-4 comments-section">
        <legend>Comments/Weather Conditions:</legend>
        <textarea
          name="comments"
          id="comments"
          class="feedback-input"
          placeholder="Enter all comments here. If there are no comments, please type a '-'."
          required
        ></textarea>
      </fieldset>
      <fieldset class="comment-notes-container col-span-4">
        <legend>Comment Notes:</legend>
        <ul class="comment-notes">
          <li>Record weather conditions in comments.</li>
          <li>
            Record other species (e.g., pink fry or stickleback) or
            unknown species caught in comments.
          </li>
          <li>
            Record Chinook caught life stage: e.g., - 2 parr, 1 smolt,
            in comments.
          </li>
          <li>
            Please take photos of any unidentified species and note in
            comments.
          </li>
        </ul>
      </fieldset>
      <input type="submit" value="SUBMIT" class="btn btn-submit" />
    </form>

    <footer id="footer">
      <p>
        &copy; 2025 Danielle Andrews | Trap Sample Data Input Form.
      </p>
    </footer>
  </body>
</html>
