<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head", { title: "HCSEG - Steelhead & Coho VSP" }) %>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include("./partials/header", { user: user, pageTitle: "Steelhead & Coho - Viable Salmon Population Program" }) %>

    <main class="container">
      <a href="/projects" class="btn btn-nav">
        Return to Project Selection
      </a>
      <div class="form-container">
        <form>
          <h2>Steelhead & Coho VSP Form</h2>
          <p>This form is under development. Please check back soon.</p>
        </form>
      </div>
    </main>

    <%- include("./partials/footer", { pageType: "Data Input Form" }) %>
  </body>
</html>
