<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../../views/partials/head.ejs", { title: "HCSEG - Union Adult Return" }) %>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include("./partials/header", { user: user, pageTitle: "Union River Summer Chum - Adult Return Program" }) %>

    <main class="container">
      <div class="container">
        <a href="/projects" class="btn btn-nav">
          Return to Project Selection
        </a>
      </div>
      <form>
        <h2>Union Adult Return Form</h2>
        <p>This form is under development. Please check back soon.</p>
      </form>
    </main>

    <footer id="footer">
      <p>&copy; 2025 Danielle Andrews | Data Input Form.</p>
    </footer>
  </body>
</html>
