MONGODB_URI_DEV=<development mongodb connection string; format: mongodb+srv://username:password@cluster0.example.mongodb.net/defaultauthdb?retryWrites=true&w=majority>
MONGODB_DB_DEV=<development mongodb database; if blank, defaults to 'test'>
NODE_ENV=<development || production>
MONGODB_URI=<production mongodb connection string; format: mongodb+srv://username:password@cluster0.example.mongodb.net/defaultauthdb?retryWrites=true&w=majority>
MONGODB_DB=<production mongodb database; if blank, defaults to 'test'>
SESSION_SECRET=<any long string to keep sessions secret>
PORT=<desired port>
