<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>
      Reset Password - HCSEG - Fish Research
    </title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/hcseg-logo-square.ico"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <script src="/js/auth.js" defer></script>
  </head>
  <body>
    <div class="login-container">
      <header class="login-header">
        <h1>Reset Your Password</h1>
        <img
          src="/img/hcseg-logo.png"
          height="100px"
          alt="Hood Canal Salmon Enhancement Group"
        />
      </header>

      <% if (typeof error !== 'undefined' && error) { %>
      <div class="msg error-msg"><%= error %></div>
      <% } %>

      <form action="/auth/reset-password" method="POST" id="reset-password-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            name="username"
            required
            autofocus
            placeholder="Enter your username"
          />
        </div>

        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Enter a new password"
          />
          <div class="btn-container">
            <div class="btn btn-toggle-show-password">
              <span id="toggle-show-password">show</span> password
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            placeholder="Confirm your password"
          />
          <div class="btn-container">
            <div class="btn btn-toggle-show-password">
              <span id="toggle-show-confirm-password">show</span> password
            </div>
          </div>
        </div>

        <div class="container">
          <div id="password-match-message"></div>
        </div>

        <div class="btn-container">
          <a href="/auth/login" class="btn btn-link">
            Back to Login
          </a>
        </div>

        <div class="container">
          <button type="submit" class="btn btn-login">Reset Password</button>
        </div>
      </form>

      <footer>
        <p>&copy; 2025 Danielle Andrews | Secure Access</p>
      </footer>
    </div>
  </body>
</html>
