<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head", { title: "Reset Password - HCSEG - Fish Research" }) %>
    <link rel="stylesheet" href="/css/auth.css" />
    <script src="/js/auth.js" defer></script>
  </head>
  <body>
    <div class="login-container">
      <%- include("./partials/header-auth", { authTitle: "Reset Your Password" }) %>

      <% if (typeof error !== 'undefined' && error) { %>
      <div class="msg error-msg"><%= error %></div>
      <% } %>

      <form action="/auth/reset-password" method="POST" id="reset-password-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            name="username"
            required
            autofocus
            placeholder="Enter your username"
          />
        </div>

        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Enter a new password"
          />
          <div class="btn-container">
            <div class="btn btn-toggle-show-password">
              <span id="toggle-show-password">show</span> password
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            placeholder="Confirm your password"
          />
          <div class="btn-container">
            <div class="btn btn-toggle-show-password">
              <span id="toggle-show-confirm-password">show</span> password
            </div>
          </div>
        </div>

        <div class="container hidden" id="password-match-message"></div>

        <div class="container password-rules-container">
          <p>Password must meet the following rules:</p>
          <ul id="password-rules">
            <li id="rule-length" class="rule">Minimum length of 8 characters</li>
            <li id="rule-letter" class="rule">At least 1 letter</li>
            <li id="rule-number" class="rule">At least 1 number</li>
          </ul>
        </div>

        <div class="btn-container">
          <a href="/auth/login" class="btn btn-link">
            Back to Login
          </a>
        </div>

        <div class="container">
          <button type="submit" class="btn btn-login">Reset Password</button>
        </div>
      </form>

      <footer>
        <p>&copy; 2025 Danielle Andrews | Secure Access</p>
      </footer>
    </div>
  </body>
</html>
