body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
}

.login-container {
  background-color: var(--background-color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 400px;
  padding: 40px;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-header h1 {
  color: var(--text-color);
  font-size: 2.8em;
  margin-bottom: 10px;
}

.login-header p {
  color: var(--text-color-muted);
  font-size: 1.4em;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.4em;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: var(--border-style);
  border-width: 2px;
  border-radius: var(--border-radius);
  background-color: var(--background-color-white);
  font-size: 1.4em;
  transition: border-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--border-color-active);
}

.btn-toggle-show-password {
  padding: 2px;
  text-decoration: underline;
  background: none;
  color: inherit;
  transition: all 0.3s;
}

.btn-toggle-show-password:hover {
  color: var(--border-color-active);
  box-shadow: none;
}

@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
  }

  .login-header h1 {
    font-size: 24px;
  }
}
