<header id="header" class="header">
  <img
    src="/img/hcseg-logo.png"
    alt="Hood Canal Salmon Enhancement Group"
    height="100px"
  />
  <div class="header-content">
    <h1>Hood Canal Salmon Enhancement Group</h1>
    <h2><%= pageTitle %></h2>
  </div>
  <div class="header-auth">
    <p><strong>Logged in as:</strong> <%= user.username %></p>
    <p>(<%= user.email %>)</p>
    <a id="logout-button" class="btn btn-logout" href="/auth/logout"
      >Logout</a
    >
  </div>
</header>
